:root{
    background-color:#0D0707;
    --font-color: #0D0707;
    --yellow-100: #E1A646;
    --rosa-200: #DA8EC0;
    --cinza-300:#B9BEBC;
    --azul-400: #3090E0;
   
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{max-width: 2000; /* Define a largura máxima do elemento pai */
  margin: 0 auto; /* Centraliza horizontalmente */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem; /* Espaçamento entre os elementos filhos */
  padding: 0rem -5rem;
  height: auto;
    }


.header{
    top: 0;
   position: relative;
    color: black;
    padding: 15px;
    width:  100%;
    height: 100px;
    background-color: var(--yellow-100);
    display: flex;
    margin-bottom: 7px;
}


.logo{
    flex-direction: column-reverse;
    right: inherit;
    text-align: left;
    position: relative;
    top: -0.2px;
     margin-left: 45px;
     object-fit: cover;
   
   
}
    ul li{
       
        list-style-type: none;
        display: inline;
        font-size: 30px;
        left: 110px;
        position: absolute;
        top: 30px;
        font-family:"Raleway", sans-serif;
         font-weight: 200;
       
        }
        .fan{
          top: 30px;  
        font-weight: bold;
       left: 260px;
       font-size: 32px;
       }


       .nav-button {
        z-index: 100%;
        border: 0;
        border-radius: 0;
        padding: 8px;
        background-color: var(--yellow-100);
        left: auto;
        position: absolute;
        display: inline;
        top: 30px;
        text-align: center;
        right: 0%;
        transform: translateY(-50%);


    }




    .nav-button {
      right: 0%;
     
        color: var(--azul-400);
    }
   
    .overlay{ align-items: center;
        width: 0;
        height: 500px;
        background-color:#E1A646;
        z-index: 9;
        position: absolute;
        right: 0%; /* para que ele fique na direita e abra pra esquerda*/
        top: 10px;
        overflow-x: hidden; /*o conteudo é cortado e nenhuma rolagem é permitida*/
        transition: all 0.5s;
       
    }
       
    .overlay-content{
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 10px;
           
    }
    .overlay a{
        padding: 8px;
        text-decoration: none;
        color: #0D0707;
        display: block;
        font-size: 30px;
        transition: 0.3s;
   
    }
    .overlay a:hover, .overlay a:focus{
        color:var(--cinza-300)  ;
       
    }
    .overlay .closebtn{
        position: relative;
        top: 14px;
        right: 5px;
        font-size: 60px;
     flex-direction: row-reverse;
    z-index: 100%;}




     #titulo{
        text-decoration: none;
        color: white;
        font-size: 50px;
   
     }


     #sub-titulo{
        color:var(--rosa-200);
        font-size: 35px;    
    text-decoration: none;}




      .hero{
        max-width: 1400px;
        height: 60vh;
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap : 7rem;
        padding: 0rem  -5rem;
        margin: auto;
        overflow: clip;
       


      }
      .hero-img-container{
        max-width: 100%;
       column-count: 4; /* para alinhar as img em colunas de 4*/
       flex-direction: reverse;
       width: 50%;
       border-radius: 0.5rem ;
       max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner pai */
       height: auto; /* Mantém a proporção da imagem */
       margin-top: 50px;
       z-index: 80%;
      }


     .caixa-azul{
       background-color: #3090E0;
       width: auto;
       height: 1000px; ;
       top: 8%;
       left: 15%;
     }


     #paragrafo1{
        padding-top: 100px;
        margin-top: 25px;
        color: white;
        font-size: 35px;
        text-decoration: none;
        padding-left: 200px;
        padding-right: 200px;
     }
     
   
    .video-container{
      align-items:center ;
      position: relative;
      margin-top: 10%;
      width: 100%;
      overflow: hidden;
    }


    .footer{
      align-items: center;
      display: flex;
      justify-content: space-evenly;
      position: relative;
      bottom: 0;


      margin-top: 50%;
      height: 300px ;
      width: 100%;
      background-color: var(--yellow-100);
    }
    .frase{
      padding-left: 25%;
    padding-bottom: 3px;
    font-size: 30px;
    }
 @media only screen and (min-width: 768px) {


 
 }  


 @media only screen and (max-width: 767px){
  .header{
    width: auto;
    height: 90px; ;
  }
 
  #titulo{
   font-size: 25px;
  }


  #sub-titulo{
    font-size: 23px;


  }
 
  .ficarEmColuna{
  flex-direction: column;
  }
  .hero-img-container{
    margin-top: 20px;
    width: 70%;
    margin-bottom: 2%;
   
   
  }


  .caixa-azul{
   
    height: auto;
  }
  #paragrafo1{
   
    height:auto;
    font-size: 25px;
    padding-top: 3px;
    padding-left: 1%;
    margin-bottom:2px ;
  }


  .video-container {
  position: absolute;
  padding-top: 30%;
  width: 100% auto;
  height: 80%;
  padding-bottom: 56.25%;
  text-align: center;
 
 }
 .footer{
  top: auto;
  width: 100%;
  padding: 10px;
  text-align: left;


 


 }
 
}
@media only screen and (max-width:200px){


  .nav-button{
   left: 2px;
   z-index: 80%;
  }
 
  .button .nav-button{
    left: 2px;
  }
  .overlay{
    left: 55%;
    width: 16px;
  }
  .logo{
    z-index: 100%;
    height: 20px;
    width: 10px;
  }
 
}


